<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bithealth.reportCore.report.dao.SummaryReportMapper" >
    <resultMap id="BaseResultMap" type="com.bithealth.reportCore.report.model.SummaryReport" >
        <id column="ID" property="ID" jdbcType="INTEGER" />
        <result column="OrgId" property="orgId" jdbcType="INTEGER" />
        <result column="SumRepCode" property="sumRepCode" jdbcType="VARCHAR" />
        <result column="SumRepTempCode" property="sumRepTempCode" jdbcType="INTEGER" />
        <result column="Memberid" property="memberid" jdbcType="INTEGER" />
        <result column="GrenerTime" property="grenerTime" jdbcType="TIMESTAMP" />
        <result column="ReportState" property="reportState" jdbcType="CHAR" />
        <result column="PendingLevel" property="pendingLevel" jdbcType="SMALLINT" />
        <result column="RetrialBackTag" property="retrialBackTag" jdbcType="CHAR" />
        <result column="ApprovalReason" property="approvalReason" jdbcType="VARCHAR" />
        <result column="ChkDesc" property="chkDesc" jdbcType="VARCHAR" />
        <result column="readStatus" property="readStatus" jdbcType="INTEGER" />
        <result column="memName" property="memName" jdbcType="VARCHAR" />
        <result column="TempName" property="templateName" jdbcType="VARCHAR" />
        <result column="auditLevel" property="auditLevel" jdbcType="VARCHAR" />
        <result column="maxMumDay" property="maxMumDay" jdbcType="INTEGER" />
        <collection property="sumRepAuditList" ofType="com.bithealth.reportCore.report.model.SummaryReportAudit" 
        			column="ID" select="com.bithealth.reportCore.report.dao.SummaryReportAuditMapper.selectByID"></collection>
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        ID, OrgId, SumRepCode, SumRepTempCode, Memberid, GrenerTime, ReportState, PendingLevel, 
        RetrialBackTag, ApprovalReason, ChkDesc, readStatus
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bithealth.reportCore.report.model.SummaryReportExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from osmr
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByExampleAndPage" resultMap="BaseResultMap" parameterType="com.bithealth.reportCore.report.model.SummaryReportExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from osmr
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from osmr
        where ID = #{ID,jdbcType=INTEGER}
    </select>

    <insert id="insertSelective" parameterType="com.bithealth.reportCore.report.model.SummaryReport" >
        insert into osmr
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="ID != null" >
                ID,
            </if>
            <if test="orgId != null" >
                OrgId,
            </if>
            <if test="sumRepCode != null" >
                SumRepCode,
            </if>
            <if test="sumRepTempCode != null" >
                SumRepTempCode,
            </if>
            <if test="memberid != null" >
                Memberid,
            </if>
            <if test="grenerTime != null" >
                GrenerTime,
            </if>
            <if test="reportState != null" >
                ReportState,
            </if>
            <if test="pendingLevel != null" >
                PendingLevel,
            </if>
            <if test="retrialBackTag != null" >
                RetrialBackTag,
            </if>
            <if test="approvalReason != null" >
                ApprovalReason,
            </if>
            <if test="chkDesc != null" >
                ChkDesc,
            </if>
            <if test="readStatus != null" >
                readStatus,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="ID != null" >
                #{ID,jdbcType=INTEGER},
            </if>
            <if test="orgId != null" >
                #{orgId,jdbcType=INTEGER},
            </if>
            <if test="sumRepCode != null" >
                #{sumRepCode,jdbcType=VARCHAR},
            </if>
            <if test="sumRepTempCode != null" >
                #{sumRepTempCode,jdbcType=INTEGER},
            </if>
            <if test="memberid != null" >
                #{memberid,jdbcType=INTEGER},
            </if>
            <if test="grenerTime != null" >
                #{grenerTime,jdbcType=TIMESTAMP},
            </if>
            <if test="reportState != null" >
                #{reportState,jdbcType=CHAR},
            </if>
            <if test="pendingLevel != null" >
                #{pendingLevel,jdbcType=SMALLINT},
            </if>
            <if test="retrialBackTag != null" >
                #{retrialBackTag,jdbcType=CHAR},
            </if>
            <if test="approvalReason != null" >
                #{approvalReason,jdbcType=VARCHAR},
            </if>
            <if test="chkDesc != null" >
                #{chkDesc,jdbcType=VARCHAR},
            </if>
            <if test="readStatus != null" >
                #{readStatus,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.bithealth.reportCore.report.model.SummaryReportExample" resultType="java.lang.Integer" >
        select count(*) from osmr
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        <if test="_parameter != null" >
            update osmr
            <set >
                <if test="record.ID != null" >
                    ID = #{record.ID,jdbcType=INTEGER},
                </if>
                <if test="record.orgId != null" >
                    OrgId = #{record.orgId,jdbcType=INTEGER},
                </if>
                <if test="record.sumRepCode != null" >
                    SumRepCode = #{record.sumRepCode,jdbcType=VARCHAR},
                </if>
                <if test="record.sumRepTempCode != null" >
                    SumRepTempCode = #{record.sumRepTempCode,jdbcType=INTEGER},
                </if>
                <if test="record.memberid != null" >
                    Memberid = #{record.memberid,jdbcType=INTEGER},
                </if>
                <if test="record.grenerTime != null" >
                    GrenerTime = #{record.grenerTime,jdbcType=TIMESTAMP},
                </if>
                <if test="record.reportState != null" >
                    ReportState = #{record.reportState,jdbcType=CHAR},
                </if>
                <if test="record.pendingLevel != null" >
                    PendingLevel = #{record.pendingLevel,jdbcType=SMALLINT},
                </if>
                <if test="record.retrialBackTag != null" >
                    RetrialBackTag = #{record.retrialBackTag,jdbcType=CHAR},
                </if>
                <if test="record.approvalReason != null" >
                    ApprovalReason = #{record.approvalReason,jdbcType=VARCHAR},
                </if>
                <if test="record.chkDesc != null" >
                    ChkDesc = #{record.chkDesc,jdbcType=VARCHAR},
                </if>
                <if test="record.readStatus != null" >
                    readStatus = #{record.readStatus,jdbcType=INTEGER},
                </if>
            </set>
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
        <if test="_parameter != null" >
            update osmr
            set ID = #{record.ID,jdbcType=INTEGER},
                OrgId = #{record.orgId,jdbcType=INTEGER},
                SumRepCode = #{record.sumRepCode,jdbcType=VARCHAR},
                SumRepTempCode = #{record.sumRepTempCode,jdbcType=INTEGER},
                Memberid = #{record.memberid,jdbcType=INTEGER},
                GrenerTime = #{record.grenerTime,jdbcType=TIMESTAMP},
                ReportState = #{record.reportState,jdbcType=CHAR},
                PendingLevel = #{record.pendingLevel,jdbcType=SMALLINT},
                RetrialBackTag = #{record.retrialBackTag,jdbcType=CHAR},
                ApprovalReason = #{record.approvalReason,jdbcType=VARCHAR},
                ChkDesc = #{record.chkDesc,jdbcType=VARCHAR},
                readStatus = #{record.readStatus,jdbcType=INTEGER}
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.bithealth.reportCore.report.model.SummaryReport" >
        update osmr
        <set >
            <if test="orgId != null" >
                OrgId = #{orgId,jdbcType=INTEGER},
            </if>
            <if test="sumRepCode != null" >
                SumRepCode = #{sumRepCode,jdbcType=VARCHAR},
            </if>
            <if test="sumRepTempCode != null" >
                SumRepTempCode = #{sumRepTempCode,jdbcType=INTEGER},
            </if>
            <if test="memberid != null" >
                Memberid = #{memberid,jdbcType=INTEGER},
            </if>
            <if test="grenerTime != null" >
                GrenerTime = #{grenerTime,jdbcType=TIMESTAMP},
            </if>
            <if test="reportState != null" >
                ReportState = #{reportState,jdbcType=CHAR},
            </if>
            <if test="pendingLevel != null" >
                PendingLevel = #{pendingLevel,jdbcType=SMALLINT},
            </if>
            <if test="retrialBackTag != null" >
                RetrialBackTag = #{retrialBackTag,jdbcType=CHAR},
            </if>
            <if test="approvalReason != null" >
                ApprovalReason = #{approvalReason,jdbcType=VARCHAR},
            </if>
            <if test="chkDesc != null" >
                ChkDesc = #{chkDesc,jdbcType=VARCHAR},
            </if>
            <if test="readStatus != null" >
                readStatus = #{readStatus,jdbcType=INTEGER},
            </if>
        </set>
        where ID = #{ID,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.bithealth.reportCore.report.model.SummaryReport" >
        update osmr
        set OrgId = #{orgId,jdbcType=INTEGER},
            SumRepCode = #{sumRepCode,jdbcType=VARCHAR},
            SumRepTempCode = #{sumRepTempCode,jdbcType=INTEGER},
            Memberid = #{memberid,jdbcType=INTEGER},
            GrenerTime = #{grenerTime,jdbcType=TIMESTAMP},
            ReportState = #{reportState,jdbcType=CHAR},
            PendingLevel = #{pendingLevel,jdbcType=SMALLINT},
            RetrialBackTag = #{retrialBackTag,jdbcType=CHAR},
            ApprovalReason = #{approvalReason,jdbcType=VARCHAR},
            ChkDesc = #{chkDesc,jdbcType=VARCHAR},
            readStatus = #{readStatus,jdbcType=INTEGER}
        where ID = #{ID,jdbcType=INTEGER}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from osmr
        where ID = #{ID,jdbcType=INTEGER}
    </delete>

    <delete id="deleteByExample" parameterType="com.bithealth.reportCore.report.model.SummaryReportExample" >
        <if test="_parameter != null" >
            delete from osmr
            <include refid="Example_Where_Clause" />
        </if>
    </delete>
    
    <select id="selectByDocIdAndOrgid" resultMap="BaseResultMap" parameterType="java.util.Map" >
		SELECT e.memName,o.id,o.memberid,o.grenerTime,o.SumRepTempCode,o.ReportState,o.PendingLevel,s.auditLevel,os.maxMumDay,os.TempName 
		FROM osmr o LEFT JOIN smr1 s ON o.ID=s.ID 
		JOIN osms os ON o.SumRepTempCode = os.SumRepTempCode 
		INNER JOIN omem e ON o.memberid=e.Memberid 
		WHERE s.Docid=#{docId}
		OR (s.Docid IS NULL AND o.ReportState IN (1,2) AND o.OrgId=#{orgId}) 
		ORDER BY o.id DESC
    </select>

	<!-- 获取会员的汇总报告列表 -->
    <select id="selectMemSumReportList" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
			SELECT a.*,b.`TempName`  
			FROM osmr a LEFT JOIN osms b ON a.`SumRepTempCode` = b.`SumRepTempCode` 
			WHERE a.`Memberid` = #{memberId}
    </select>



</mapper>