<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bithealth.questionCore.audit.dao.OasrSerialnumberMapper" >
    <resultMap id="BaseResultMap" type="com.bithealth.questionCore.audit.model.OasrSerialnumber" >
        <id column="serialNumber" property="serialNumber" jdbcType="BIGINT" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        serialNumber
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bithealth.questionCore.audit.model.OasrSerialnumberExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from oasr_serialnumber
        <if test="_parameter != null and _parameter != '' ">
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByExampleAndPage" resultMap="BaseResultMap" parameterType="com.bithealth.questionCore.audit.model.OasrSerialnumberExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from oasr_serialnumber
        <if test="_parameter != null and _parameter != '' ">
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <insert id="insertSelective" parameterType="com.bithealth.questionCore.audit.model.OasrSerialnumber" useGeneratedKeys="true" keyProperty="serialNumber">
        insert into oasr_serialnumber VALUE(NUll)
    </insert>

    <select id="countByExample" parameterType="com.bithealth.questionCore.audit.model.OasrSerialnumberExample" resultType="java.lang.Integer" >
        select count(*) from oasr_serialnumber
        <if test="_parameter != null and _parameter != '' ">
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        <if test="_parameter != null and _parameter != '' ">
            update oasr_serialnumber
            <set >
                <if test="record.serialNumber != null" >
                    serialNumber = #{record.serialNumber,jdbcType=BIGINT},
                </if>
            </set>
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
        <if test="_parameter != null and _parameter != '' ">
            update oasr_serialnumber
            set serialNumber = #{record.serialNumber,jdbcType=BIGINT}
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from oasr_serialnumber
        where serialNumber = #{serialNumber,jdbcType=BIGINT}
    </delete>

    <delete id="deleteByExample" parameterType="com.bithealth.questionCore.audit.model.OasrSerialnumberExample" >
        <if test="_parameter != null and _parameter != '' ">
            delete from oasr_serialnumber
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

</mapper>