<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bithealth.questionCore.question.dao.OmfqMapper" >
    <resultMap id="BaseResultMap" type="com.bithealth.questionCore.question.model.Omfq" >
        <id column="Qustid" property="qustid" jdbcType="INTEGER" />
        <result column="OptId" property="optId" jdbcType="SMALLINT" />
        <result column="FunId" property="funId" jdbcType="SMALLINT" />
        <result column="OrgId" property="orgId" jdbcType="INTEGER" />
        <result column="QustCode" property="qustCode" jdbcType="VARCHAR" />
        <result column="Qustname" property="qustname" jdbcType="VARCHAR" />
        <result column="AnsMode" property="ansMode" jdbcType="CHAR" />
        <result column="Desription" property="desription" jdbcType="VARCHAR" />
        <result column="QustVer" property="qustVer" jdbcType="VARCHAR" />
        <result column="QustDesc" property="qustDesc" jdbcType="VARCHAR" />
        <result column="ChTag" property="chTag" jdbcType="CHAR" />
        <result column="QustTag" property="qustTag" jdbcType="CHAR" />
        <result column="CreateDate" property="createDate" jdbcType="DATE" />
        <result column="Createid" property="createid" jdbcType="INTEGER" />
        <result column="CreateName" property="createName" jdbcType="VARCHAR" />
        <result column="UseRange" property="useRange" jdbcType="TINYINT" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        Qustid, OptId, FunId, OrgId, QustCode, Qustname, AnsMode, Desription, QustVer, QustDesc, 
        ChTag, QustTag, CreateDate, Createid, CreateName, UseRange
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bithealth.questionCore.question.model.OmfqExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from omfq
        <if test="_parameter != null and _parameter != '' ">
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByExampleAndPage" resultMap="BaseResultMap" parameterType="com.bithealth.questionCore.question.model.OmfqExample" >
        select
        omfq.*, b.optName as optName
        from omfq join oopt b on omfq.OptId = b.OptId
        <if test="_parameter != null and _parameter != '' ">
            <include refid="Example_Where_Clause" />
        </if>
        order by Qustid desc
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        omfq.*, orgName 
        from omfq LEFT JOIN orgs ON omfq.orgId = orgs.orgId
        where Qustid = #{qustid,jdbcType=INTEGER}
    </select>

    <insert id="insertSelective" parameterType="com.bithealth.questionCore.question.model.Omfq" useGeneratedKeys="true" keyProperty="qustid" >
        insert into omfq
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="optId != null" >
                OptId,
            </if>
            <if test="funId != null" >
                FunId,
            </if>
            <if test="orgId != null" >
                OrgId,
            </if>
            <if test="qustCode != null" >
                QustCode,
            </if>
            <if test="qustname != null" >
                Qustname,
            </if>
            <if test="ansMode != null" >
                AnsMode,
            </if>
            <if test="desription != null" >
                Desription,
            </if>
            <if test="qustVer != null" >
                QustVer,
            </if>
            <if test="qustDesc != null" >
                QustDesc,
            </if>
            <if test="chTag != null" >
                ChTag,
            </if>
            <if test="qustTag != null" >
                QustTag,
            </if>
            <if test="createDate != null" >
                CreateDate,
            </if>
            <if test="createid != null" >
                Createid,
            </if>
            <if test="createName != null" >
                CreateName,
            </if>
            <if test="useRange != null" >
            	UseRange,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="optId != null" >
                #{optId,jdbcType=SMALLINT},
            </if>
            <if test="funId != null" >
                #{funId,jdbcType=SMALLINT},
            </if>
            <if test="orgId != null" >
                #{orgId,jdbcType=INTEGER},
            </if>
            <if test="qustCode != null" >
                #{qustCode,jdbcType=VARCHAR},
            </if>
            <if test="qustname != null" >
                #{qustname,jdbcType=VARCHAR},
            </if>
            <if test="ansMode != null" >
                #{ansMode,jdbcType=CHAR},
            </if>
            <if test="desription != null" >
                #{desription,jdbcType=VARCHAR},
            </if>
            <if test="qustVer != null" >
                #{qustVer,jdbcType=VARCHAR},
            </if>
            <if test="qustDesc != null" >
                #{qustDesc,jdbcType=VARCHAR},
            </if>
            <if test="chTag != null" >
                #{chTag,jdbcType=CHAR},
            </if>
            <if test="qustTag != null" >
                #{qustTag,jdbcType=CHAR},
            </if>
            <if test="createDate != null" >
                #{createDate,jdbcType=DATE},
            </if>
            <if test="createid != null" >
                #{createid,jdbcType=INTEGER},
            </if>
            <if test="createName != null" >
                #{createName,jdbcType=VARCHAR},
            </if>
            <if test="useRange != null" >
            	#{useRange,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.bithealth.questionCore.question.model.OmfqExample" resultType="java.lang.Integer" >
        select count(*) from omfq
        <if test="_parameter != null and _parameter != '' ">
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
    	<if test="_parameter != null and _parameter != '' ">
        update omfq
        <set >
            <if test="record.qustid != null" >
                Qustid = #{record.qustid,jdbcType=INTEGER},
            </if>
            <if test="record.optId != null" >
                OptId = #{record.optId,jdbcType=SMALLINT},
            </if>
            <if test="record.funId != null" >
                FunId = #{record.funId,jdbcType=SMALLINT},
            </if>
            <if test="record.orgId != null" >
                OrgId = #{record.orgId,jdbcType=INTEGER},
            </if>
            <if test="record.qustCode != null" >
                QustCode = #{record.qustCode,jdbcType=VARCHAR},
            </if>
            <if test="record.qustname != null" >
                Qustname = #{record.qustname,jdbcType=VARCHAR},
            </if>
            <if test="record.ansMode != null" >
                AnsMode = #{record.ansMode,jdbcType=CHAR},
            </if>
            <if test="record.desription != null" >
                Desription = #{record.desription,jdbcType=VARCHAR},
            </if>
            <if test="record.qustVer != null" >
                QustVer = #{record.qustVer,jdbcType=VARCHAR},
            </if>
            <if test="record.qustDesc != null" >
                QustDesc = #{record.qustDesc,jdbcType=VARCHAR},
            </if>
            <if test="record.chTag != null" >
                ChTag = #{record.chTag,jdbcType=CHAR},
            </if>
            <if test="record.qustTag != null" >
                QustTag = #{record.qustTag,jdbcType=CHAR},
            </if>
            <if test="record.createDate != null" >
                CreateDate = #{record.createDate,jdbcType=DATE},
            </if>
            <if test="record.createid != null" >
                Createid = #{record.createid,jdbcType=INTEGER},
            </if>
            <if test="record.createName != null" >
                CreateName = #{record.createName,jdbcType=VARCHAR},
            </if>
            <if test="record.useRange != null" >
            	UseRange = #{record.useRange,jdbcType=TINYINT},
            </if>
        </set>
        <if test="_parameter != null and _parameter != '' ">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
    	<if test="_parameter != null and _parameter != '' ">
        update omfq
        set Qustid = #{record.qustid,jdbcType=INTEGER},
            OptId = #{record.optId,jdbcType=SMALLINT},
            FunId = #{record.funId,jdbcType=SMALLINT},
<!--             OrgId = #{record.orgId,jdbcType=INTEGER}, -->
            QustCode = #{record.qustCode,jdbcType=VARCHAR},
            Qustname = #{record.qustname,jdbcType=VARCHAR},
            AnsMode = #{record.ansMode,jdbcType=CHAR},
            Desription = #{record.desription,jdbcType=VARCHAR},
            QustVer = #{record.qustVer,jdbcType=VARCHAR},
            QustDesc = #{record.qustDesc,jdbcType=VARCHAR},
            ChTag = #{record.chTag,jdbcType=CHAR},
            QustTag = #{record.qustTag,jdbcType=CHAR},
<!--             CreateDate = #{record.createDate,jdbcType=DATE}, -->
<!--             Createid = #{record.createid,jdbcType=INTEGER}, -->
<!--             CreateName = #{record.createName,jdbcType=VARCHAR}, -->
            UseRange = #{record.useRange,jdbcType=TINYINT}
        <if test="_parameter != null and _parameter != '' ">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.bithealth.questionCore.question.model.Omfq" >
        update omfq
        <set >
            <if test="optId != null" >
                OptId = #{optId,jdbcType=SMALLINT},
            </if>
            <if test="funId != null" >
                FunId = #{funId,jdbcType=SMALLINT},
            </if>
            <if test="orgId != null" >
                OrgId = #{orgId,jdbcType=INTEGER},
            </if>
            <if test="qustCode != null" >
                QustCode = #{qustCode,jdbcType=VARCHAR},
            </if>
            <if test="qustname != null" >
                Qustname = #{qustname,jdbcType=VARCHAR},
            </if>
            <if test="ansMode != null" >
                AnsMode = #{ansMode,jdbcType=CHAR},
            </if>
            <if test="desription != null" >
                Desription = #{desription,jdbcType=VARCHAR},
            </if>
            <if test="qustVer != null" >
                QustVer = #{qustVer,jdbcType=VARCHAR},
            </if>
            <if test="qustDesc != null" >
                QustDesc = #{qustDesc,jdbcType=VARCHAR},
            </if>
            <if test="chTag != null" >
                ChTag = #{chTag,jdbcType=CHAR},
            </if>
            <if test="qustTag != null" >
                QustTag = #{qustTag,jdbcType=CHAR},
            </if>
            <if test="createDate != null" >
                CreateDate = #{createDate,jdbcType=DATE},
            </if>
            <if test="createid != null" >
                Createid = #{createid,jdbcType=INTEGER},
            </if>
            <if test="createName != null" >
                CreateName = #{createName,jdbcType=VARCHAR},
            </if>
            <if test="useRange != null" >
            	UseRange = #{useRange,jdbcType=TINYINT},
            </if>
        </set>
        where Qustid = #{qustid,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.bithealth.questionCore.question.model.Omfq" >
        update omfq
        set OptId = #{optId,jdbcType=SMALLINT},
<!--             FunId = #{funId,jdbcType=SMALLINT}, -->
<!--             OrgId = #{orgId,jdbcType=INTEGER}, -->
            QustCode = #{qustCode,jdbcType=VARCHAR},
            Qustname = #{qustname,jdbcType=VARCHAR},
            AnsMode = #{ansMode,jdbcType=CHAR},
            Desription = #{desription,jdbcType=VARCHAR},
            QustVer = #{qustVer,jdbcType=VARCHAR},
            QustDesc = #{qustDesc,jdbcType=VARCHAR},
            ChTag = #{chTag,jdbcType=CHAR},
            QustTag = #{qustTag,jdbcType=CHAR},
<!--             CreateDate = #{createDate,jdbcType=DATE}, -->
<!--             Createid = #{createid,jdbcType=INTEGER}, -->
<!--             CreateName = #{createName,jdbcType=VARCHAR}, -->
            UseRange = #{useRange,jdbcType=TINYINT}
        where Qustid = #{qustid,jdbcType=INTEGER}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from omfq
        where Qustid = #{qustid,jdbcType=INTEGER}
    </delete>

    <delete id="deleteByExample" parameterType="com.bithealth.questionCore.question.model.OmfqExample" >
        <if test="_parameter != null and _parameter != '' ">
        delete from omfq
        <if test="_parameter != null and _parameter != '' ">
            <include refid="Example_Where_Clause" />
        </if>
        </if>
    </delete>

	<!-- 扩展功能  -->
	<select id="selectSingleQuestionMaxQustCode" resultType="java.lang.String">
		<![CDATA[
		SELECT QustCode+1 AS QustCode FROM `omfq` WHERE orgId = #{orgId,jdbcType=INTEGER} AND qustTag <> #{qustTag,jdbcType=CHAR} ORDER BY qustcode DESC LIMIT 1;
		]]> 
	</select>
	
	<select id="selectSingleQuestionMaxQustVerByName" resultType="java.lang.String">
		SELECT QustVer+1 FROM `omfq` WHERE orgId = #{orgId,jdbcType=INTEGER} AND Qustname = #{qustName,jdbcType=VARCHAR} AND qustTag = #{qustTag,jdbcType=CHAR} ORDER BY QustVer DESC LIMIT 1;
	</select>
</mapper>