<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bithealth.inspectCore.inspect.dao.PhHypertensionMapper" >
    <resultMap id="BaseResultMap" type="com.bithealth.inspectCore.inspect.model.PhHypertension" >
        <id column="HypertensionID" property="hypertensionID" jdbcType="BIGINT" />
        <result column="MemberID" property="memberID" jdbcType="INTEGER" />
        <result column="Unique_ID" property="unique_ID" jdbcType="VARCHAR" />
        <result column="RefCompany" property="refCompany" jdbcType="TINYINT" />
        <result column="RefDataPK" property="refDataPK" jdbcType="VARCHAR" />
        <result column="IDCard" property="IDCard" jdbcType="VARCHAR" />
        <result column="Name" property="name" jdbcType="VARCHAR" />
        <result column="VisitDate" property="visitDate" jdbcType="TIMESTAMP" />
        <result column="VisitDrName" property="visitDrName" jdbcType="VARCHAR" />
        <result column="VisitClass" property="visitClass" jdbcType="TINYINT" />
        <result column="GetTime" property="getTime" jdbcType="TIMESTAMP" />
        <result column="IsDeleted" property="isDeleted" jdbcType="TINYINT" />
        <result column="MSETaskID" property="MSETaskID" jdbcType="BIGINT" />
        <result column="CreateDrID" property="createDrID" jdbcType="INTEGER" />
        <result column="CreateDrName" property="createDrName" jdbcType="VARCHAR" />
        <result column="CreateTime" property="createTime" jdbcType="TIMESTAMP" />
        <result column="UpdateDrID" property="updateDrID" jdbcType="INTEGER" />
        <result column="UpdateDrName" property="updateDrName" jdbcType="VARCHAR" />
        <result column="UpdateTime" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="LatestTime" property="latestTime" jdbcType="TIMESTAMP" />
<!--         <association column="MemberID" property="member" select="com.bithealth.memberCore.member.dao.MemberMapper.selectByPrimaryKey"/> -->
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        HypertensionID, MemberID, Unique_ID, RefCompany, RefDataPK, IDCard, Name, VisitDate, 
        VisitDrName, VisitClass, GetTime, IsDeleted, MSETaskID, CreateDrID, CreateDrName, 
        CreateTime, UpdateDrID, UpdateDrName, UpdateTime
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bithealth.inspectCore.inspect.model.PhHypertensionExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from ph_hypertension
        <if test="_parameter != null and _parameter != '' ">
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
        <if test="page != null">
        	limit ${page.offset},${page.limit}
        </if>
    </select>

    <select id="selectByExampleAndPage" resultMap="BaseResultMap" parameterType="com.bithealth.inspectCore.inspect.model.PhHypertensionExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from ph_hypertension
        <if test="_parameter != null and _parameter != '' ">
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select ph_hypertension.*, 
        omem.Memberid AS `member.memberid`, 
		omem.MemName AS `member.memname`, 
		omem.Gender AS `member.gender`, 
		omem.BirthDate AS `member.birthdate`, 
		omem.Tel AS `member.tel`, 
		omem.IdCard AS `member.idcard`
        from ph_hypertension join omem on ph_hypertension.MemberID = omem.Memberid
        where ph_hypertension.HypertensionID = #{hypertensionID,jdbcType=BIGINT}
    </select>

    <insert id="insert" parameterType="com.bithealth.inspectCore.inspect.model.PhHypertension" >
        <selectKey resultType="java.lang.Long" keyProperty="hypertensionID" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into ph_hypertension (MemberID, Unique_ID, RefCompany, 
            RefDataPK, IDCard, Name, 
            VisitDate, VisitDrName, VisitClass, 
            GetTime, IsDeleted, CreateDrID, 
            CreateDrName, CreateTime, UpdateDrID, 
            UpdateDrName, UpdateTime)
        values (#{memberID,jdbcType=INTEGER}, #{unique_ID,jdbcType=VARCHAR}, #{refCompany,jdbcType=TINYINT}, 
            #{refDataPK,jdbcType=VARCHAR}, #{IDCard,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
            #{visitDate,jdbcType=TIMESTAMP}, #{visitDrName,jdbcType=VARCHAR}, #{visitClass,jdbcType=TINYINT}, 
            #{getTime,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=TINYINT}, #{createDrID,jdbcType=INTEGER}, 
            #{createDrName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateDrID,jdbcType=INTEGER}, 
            #{updateDrName,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertSelective" parameterType="com.bithealth.inspectCore.inspect.model.PhHypertension" >
        <selectKey resultType="java.lang.Long" keyProperty="hypertensionID" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into ph_hypertension
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="memberID != null" >
                MemberID,
            </if>
            <if test="unique_ID != null" >
                Unique_ID,
            </if>
            <if test="refCompany != null" >
                RefCompany,
            </if>
            <if test="refDataPK != null" >
                RefDataPK,
            </if>
            <if test="IDCard != null" >
                IDCard,
            </if>
            <if test="name != null" >
                Name,
            </if>
            <if test="visitDate != null" >
                VisitDate,
            </if>
            <if test="visitDrName != null" >
                VisitDrName,
            </if>
            <if test="visitClass != null" >
                VisitClass,
            </if>
            <if test="getTime != null" >
                GetTime,
            </if>
            <if test="isDeleted != null" >
                IsDeleted,
            </if>
            <if test="MSETaskID != null" >
                MSETaskID,
            </if>
            <if test="createDrID != null" >
                CreateDrID,
            </if>
            <if test="createDrName != null" >
                CreateDrName,
            </if>
            <if test="createTime != null" >
                CreateTime,
            </if>
            <if test="updateDrID != null" >
                UpdateDrID,
            </if>
            <if test="updateDrName != null" >
                UpdateDrName,
            </if>
            <if test="updateTime != null" >
                UpdateTime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="memberID != null" >
                #{memberID,jdbcType=INTEGER},
            </if>
            <if test="unique_ID != null" >
                #{unique_ID,jdbcType=VARCHAR},
            </if>
            <if test="refCompany != null" >
                #{refCompany,jdbcType=TINYINT},
            </if>
            <if test="refDataPK != null" >
                #{refDataPK,jdbcType=VARCHAR},
            </if>
            <if test="IDCard != null" >
                #{IDCard,jdbcType=VARCHAR},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="visitDate != null" >
                #{visitDate,jdbcType=TIMESTAMP},
            </if>
            <if test="visitDrName != null" >
                #{visitDrName,jdbcType=VARCHAR},
            </if>
            <if test="visitClass != null" >
                #{visitClass,jdbcType=TINYINT},
            </if>
            <if test="getTime != null" >
                #{getTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDeleted != null" >
                #{isDeleted,jdbcType=TINYINT},
            </if>
            <if test="MSETaskID != null" >
                #{MSETaskID,jdbcType=BIGINT},
            </if>
            <if test="createDrID != null" >
                #{createDrID,jdbcType=INTEGER},
            </if>
            <if test="createDrName != null" >
                #{createDrName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDrID != null" >
                #{updateDrID,jdbcType=INTEGER},
            </if>
            <if test="updateDrName != null" >
                #{updateDrName,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null" >
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.bithealth.inspectCore.inspect.model.PhHypertensionExample" resultType="java.lang.Integer" >
        select count(*) from ph_hypertension
        <if test="_parameter != null and _parameter != '' ">
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
    	<if test="_parameter != null and _parameter != '' ">
        update ph_hypertension
        <set >
            <if test="record.hypertensionID != null" >
                HypertensionID = #{record.hypertensionID,jdbcType=BIGINT},
            </if>
            <if test="record.memberID != null" >
                MemberID = #{record.memberID,jdbcType=INTEGER},
            </if>
            <if test="record.unique_ID != null" >
                Unique_ID = #{record.unique_ID,jdbcType=VARCHAR},
            </if>
            <if test="record.refCompany != null" >
                RefCompany = #{record.refCompany,jdbcType=TINYINT},
            </if>
            <if test="record.refDataPK != null" >
                RefDataPK = #{record.refDataPK,jdbcType=VARCHAR},
            </if>
            <if test="record.IDCard != null" >
                IDCard = #{record.IDCard,jdbcType=VARCHAR},
            </if>
            <if test="record.name != null" >
                Name = #{record.name,jdbcType=VARCHAR},
            </if>
            <if test="record.visitDate != null" >
                VisitDate = #{record.visitDate,jdbcType=TIMESTAMP},
            </if>
            <if test="record.visitDrName != null" >
                VisitDrName = #{record.visitDrName,jdbcType=VARCHAR},
            </if>
            <if test="record.visitClass != null" >
                VisitClass = #{record.visitClass,jdbcType=TINYINT},
            </if>
            <if test="record.getTime != null" >
                GetTime = #{record.getTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.isDeleted != null" >
                IsDeleted = #{record.isDeleted,jdbcType=TINYINT},
            </if>
<if test="record.MSETaskID != null" >
                    MSETaskID = #{record.MSETaskID,jdbcType=BIGINT},
                </if>
            <if test="record.createDrID != null" >
                CreateDrID = #{record.createDrID,jdbcType=INTEGER},
            </if>
            <if test="record.createDrName != null" >
                CreateDrName = #{record.createDrName,jdbcType=VARCHAR},
            </if>
            <if test="record.createTime != null" >
                CreateTime = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updateDrID != null" >
                UpdateDrID = #{record.updateDrID,jdbcType=INTEGER},
            </if>
            <if test="record.updateDrName != null" >
                UpdateDrName = #{record.updateDrName,jdbcType=VARCHAR},
            </if>
            <if test="record.updateTime != null" >
                UpdateTime = #{record.updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <if test="_parameter != null and _parameter != '' ">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
    	<if test="_parameter != null and _parameter != '' ">
        update ph_hypertension
        set HypertensionID = #{record.hypertensionID,jdbcType=BIGINT},
            MemberID = #{record.memberID,jdbcType=INTEGER},
            Unique_ID = #{record.unique_ID,jdbcType=VARCHAR},
            RefCompany = #{record.refCompany,jdbcType=TINYINT},
            RefDataPK = #{record.refDataPK,jdbcType=VARCHAR},
            IDCard = #{record.IDCard,jdbcType=VARCHAR},
            Name = #{record.name,jdbcType=VARCHAR},
            VisitDate = #{record.visitDate,jdbcType=TIMESTAMP},
            VisitDrName = #{record.visitDrName,jdbcType=VARCHAR},
            VisitClass = #{record.visitClass,jdbcType=TINYINT},
            GetTime = #{record.getTime,jdbcType=TIMESTAMP},
<!--             IsDeleted = #{record.isDeleted,jdbcType=TINYINT}, -->
<!--             CreateDrID = #{record.createDrID,jdbcType=INTEGER}, -->
<!--             CreateDrName = #{record.createDrName,jdbcType=VARCHAR}, -->
<!--             CreateTime = #{record.createTime,jdbcType=TIMESTAMP}, -->
            UpdateDrID = #{record.updateDrID,jdbcType=INTEGER},
            UpdateDrName = #{record.updateDrName,jdbcType=VARCHAR},
            UpdateTime = #{record.updateTime,jdbcType=TIMESTAMP}
        <if test="_parameter != null and _parameter != '' ">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.bithealth.inspectCore.inspect.model.PhHypertension" >
        update ph_hypertension
        <set >
            <if test="memberID != null" >
                MemberID = #{memberID,jdbcType=INTEGER},
            </if>
            <if test="unique_ID != null" >
                Unique_ID = #{unique_ID,jdbcType=VARCHAR},
            </if>
            <if test="refCompany != null" >
                RefCompany = #{refCompany,jdbcType=TINYINT},
            </if>
            <if test="refDataPK != null" >
                RefDataPK = #{refDataPK,jdbcType=VARCHAR},
            </if>
            <if test="IDCard != null" >
                IDCard = #{IDCard,jdbcType=VARCHAR},
            </if>
            <if test="name != null" >
                Name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="visitDate != null" >
                VisitDate = #{visitDate,jdbcType=TIMESTAMP},
            </if>
            <if test="visitDrName != null" >
                VisitDrName = #{visitDrName,jdbcType=VARCHAR},
            </if>
            <if test="visitClass != null" >
                VisitClass = #{visitClass,jdbcType=TINYINT},
            </if>
            <if test="getTime != null" >
                GetTime = #{getTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDeleted != null" >
                IsDeleted = #{isDeleted,jdbcType=TINYINT},
            </if>
 <if test="MSETaskID != null" >
                MSETaskID = #{MSETaskID,jdbcType=BIGINT},
            </if>
            <if test="createDrID != null" >
                CreateDrID = #{createDrID,jdbcType=INTEGER},
            </if>
            <if test="createDrName != null" >
                CreateDrName = #{createDrName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                CreateTime = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDrID != null" >
                UpdateDrID = #{updateDrID,jdbcType=INTEGER},
            </if>
            <if test="updateDrName != null" >
                UpdateDrName = #{updateDrName,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null" >
                UpdateTime = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where HypertensionID = #{hypertensionID,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.bithealth.inspectCore.inspect.model.PhHypertension" >
        update ph_hypertension
        set MemberID = #{memberID,jdbcType=INTEGER},
            Unique_ID = #{unique_ID,jdbcType=VARCHAR},
            RefCompany = #{refCompany,jdbcType=TINYINT},
            RefDataPK = #{refDataPK,jdbcType=VARCHAR},
            IDCard = #{IDCard,jdbcType=VARCHAR},
            Name = #{name,jdbcType=VARCHAR},
            VisitDate = #{visitDate,jdbcType=TIMESTAMP},
            VisitDrName = #{visitDrName,jdbcType=VARCHAR},
            VisitClass = #{visitClass,jdbcType=TINYINT},
            GetTime = #{getTime,jdbcType=TIMESTAMP},
<!--             IsDeleted = #{isDeleted,jdbcType=TINYINT}, -->
<!--             CreateDrID = #{createDrID,jdbcType=INTEGER}, -->
<!--             CreateDrName = #{createDrName,jdbcType=VARCHAR}, -->
<!--             CreateTime = #{createTime,jdbcType=TIMESTAMP}, -->
            UpdateDrID = #{updateDrID,jdbcType=INTEGER},
            UpdateDrName = #{updateDrName,jdbcType=VARCHAR},
            UpdateTime = #{updateTime,jdbcType=TIMESTAMP}
        where HypertensionID = #{hypertensionID,jdbcType=BIGINT}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from ph_hypertension
        where HypertensionID = #{hypertensionID,jdbcType=BIGINT}
    </delete>

    <delete id="deleteByExample" parameterType="com.bithealth.inspectCore.inspect.model.PhHypertensionExample" >
    	<if test="_parameter != null and _parameter != '' ">
        delete from ph_hypertension
        <if test="_parameter != null and _parameter != '' ">
            <include refid="Example_Where_Clause" />
        </if>
        </if>
    </delete>
	<!-- 查询会员最新已随访的高血压随访信息 -->
	<select id="selectLatestPhHypertensionByMemberId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        SELECT
        <include refid="Base_Column_List" />, IFNULL(UpdateTime, GetTime) AS LatestTime
        FROM ph_hypertension WHERE IsDeleted = 0 AND VisitClass <![CDATA[<>]]> 0 AND MemberID = #{memberID,jdbcType=INTEGER}
        ORDER BY LatestTime DESC LIMIT 1
    </select>
    <!-- 对接调用 -->
    <select id="selectPhHypertensionList" parameterType="com.bithealth.inspectCore.inspect.model.PhHypertension" resultMap="BaseResultMap">
    	select a.* 
    	from ph_hypertension a ,omem b ,d_omem_relation c
   		where DATE_FORMAT(a.GetTime,'%Y-%m-%d') = str_to_date(#{getTime},'%Y-%m-%d')
	 	and a.Unique_ID = b.unique_id 
		 and b.unique_id = c.unique_id
	 	and b.source = #{member.source}
	 	and c.prgid LIKE CONCAT(#{memRelation.prgid},'%' );
    </select>
	<select id="selectPage" resultMap="BaseResultMap" parameterType="map">
	    SELECT ph_hypertension.HypertensionID,ph_hypertension.VisitDate,ph_hypertension.VisitDrName,ph_hypertension.RefCompany,ph_hypertension.VisitClass, ph_hypertension.MemberID, 
		omem.Memberid AS `member.memberid`, 
		omem.MemName AS `member.memname`, 
		omem.Gender AS `member.gender`, 
		omem.BirthDate AS `member.birthdate`, 
		omem.Tel AS `member.tel`, 
		omem.IdCard AS `member.idcard`
		<if test="model.criteria != null">
		,ph_hypertensiondetail.VisitDate_Next AS `phHypertensiondetail.visitDate_Next`
		</if>
		FROM ph_hypertension 
		JOIN omem ON ph_hypertension.MemberID = omem.MemberID 
		JOIN ompb ON ph_hypertension.MemberID = ompb.memberid 
		JOIN odmt ON ompb.MemGrpid = odmt.MemGrpid 
		<if test="model.criteria != null">
		LEFT JOIN ph_hypertensiondetail ON ph_hypertension.HypertensionID=ph_hypertensiondetail.HypertensionID 
		</if> 
		WHERE ph_hypertension.IsDeleted = 0 
<!-- 		<if test="model.pending"> -->
<!-- 		and ph_hypertension.VisitClass = 0  -->
<!-- 		</if> -->
<!-- 		<if test="!model.pending"> -->
			<choose>
				<when test="model.visitClass != null and model.visitClass > 0">
					and ph_hypertension.VisitClass = #{model.visitClass} 
				</when>
<!-- 				<otherwise> -->
<!-- 					and ph_hypertension.VisitClass > 0  -->
<!-- 				</otherwise> -->
			</choose>
<!-- 		</if> -->
		<choose>
			<when test="model.memberID != null">
				and ph_hypertension.MemberID = #{model.memberID}
			</when>
			<otherwise>
				and odmt.OdgpId in
				<foreach collection="odgpIds" item="listItem" open="(" close=")" separator="," >
	                #{listItem}
	            </foreach>
			</otherwise>
		</choose>
		<choose>
			<when test="model.criteria != null">
				<if test="model.criteria !=''">
				and (omem.MemName like CONCAT('%', #{model.criteria}, '%') or omem.Tel like CONCAT('%', #{model.criteria}, '%') or omem.IdCard like CONCAT('%', #{model.criteria}, '%'))
				</if>
			</when>
			<otherwise>
				<if test="model.member != null">
					<if test="model.member.memname != null and model.member.memname !=''">
						and omem.MemName like CONCAT('%', #{model.member.memname}, '%')
					</if>
					<if test="model.member.tel != null and model.member.tel !=''">
						and omem.Tel like CONCAT('%', #{model.member.tel}, '%')
					</if>
					<if test="model.member.idcard != null and model.member.idcard !=''">
						and omem.IdCard like CONCAT('%', #{model.member.idcard}, '%')
					</if>
				</if>
			</otherwise>
		</choose>
		<if test="model.startVisitDate != null">
			and ph_hypertension.VisitDate <![CDATA[>=]]> #{model.startVisitDate}
		</if>
		<if test="model.endVisitDate != null">
			and ph_hypertension.VisitDate <![CDATA[<=]]> #{model.endVisitDate}
		</if>
		GROUP BY ph_hypertension.HypertensionID ORDER BY ph_hypertension.VisitDate <if test="!model.pending">DESC</if>
	</select>
</mapper>