/*
* 绑定医生分组样式表
*/
.icon-search {
	width: 16px;
	height: 16px;
	display: inline-block;
	background: #fff url('../img/u45.png') no-repeat center;
	position: absolute;
	top: 5px !important;
	top: 2px\0 !important;
	right: 50% !important;
}

.search-doctor
{
	position: relative;
	margin: 5px 0;
}
.left-title, .tree-wrapper 
{
	margin: 5px 5px !important;
}
.input-search
{
	width: 50% !important;
}
.content-group
{
	margin:10px 15px;
	padding: 2px;
	border: 1px solid #ccc;
}

.margin-left
{
	margin-left: 40px;
}

.edit
{
	height: 400px;
	width: 50%;
	background: inherit !important;
}

