body {
    margin: 0;
	padding: 0;
	font: 12px "Microsoft YaHei","SimSun",Helvetica,Verdana,Sans-serif;
    overflow: auto;
}

table {
	width: 100%;
	border: 0;
	background: #fff;
}

select,input[type="text"] {
	width: 240px;
	border-radius: 2px;
	border: 1px solid #a9a9a9;
}

.input_radio {
	width: 18px;
}

#Member_td_but {
	text-align: right;
	padding-right: 38px;
}

#Member_td_but button {
	background: #52A8EA;
	border: 0;
	border-radius: 3px;
	height: 24px;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: 50px;
	width: 120px;
	box-shadow: 2px 2px;
}

#Member_td_sub {
	padding-top: 10px;
	text-align: center;
	padding-right: 38px;
}

#content_sub {
	margin-top: 8px;
	background: #52A8EA;
	border: 0;
	border-radius: 2px;
	height: 28px;
	margin-bottom: 8px;
	margin-left: 50px;
	box-shadow: 2px 2px;
}

.Member_tr_title {
	background-color: #BCDEE0;
	height: 35px;
	color: #FFF;
}

.Member_tr_title td {
	border-radius: 3px;
	border: 1px solid #64BAF3;
	padding-left: 20px;
}

.Member_td_title {
	text-align: right;
	padding-top: 10px;
}

.Member_td_content {
	text-align: left;
	padding-top: 10px;
}

.l {
	background-color: #BCDEE0;
	padding: 5px;
	color: #333;
	text-align: left;
	font: 14px "Microsoft YaHei",Arial,"SimSun",Helvetica,Verdana,Sans-serif
}

.o {
	font: 14px "Microsoft YaHei",Arial,"SimSun",Helvetica,Verdana,Sans-serif;
	color: #f00;
	padding: 5px 0;
	text-align: center;
}

.v {
	margin-top: 3px;
	margin-bottom: 2px;
	padding: 3px 0px 3px 10px;
	font: 14px "Microsoft YaHei",Arial,"SimSun",Helvetica,Verdana,Sans-serif;
	
  /*  border:1px groove  #ccc;  */
}

.u {
	padding: 3px 0 0 10px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	border: none;
}

.tips { 
	font-size: 14px; 
	font-weight: bold; 
	color: #f00; 
	padding-bottom: 10px;
}

table.table-border {
 	border: 1px solid #ccc;
}

table.table-border tr td {
	border: 1px solid #ccc;
	font: 14px "Microsoft YaHei",Arial,"SimSun",Helvetica,Verdana,Sans-serif
}

table.table-border tr td b{
	margin-left: 10px; 
	font-size: 14px;
}

table.table-border tr td input {
	font: 14px "Microsoft YaHei",Arial,"SimSun",Helvetica,Verdana,Sans-serif;
}

.title-normal {
	padding-bottom: 10px; 
	background: #fff;
}

.title-normal span {
	font-size: 16px;
	font-weight: bold;
	color: #333;
}

.go-back {
   background: none;
   border: none;
   color: #f00;
   font-family: "Microsoft YaHei", "SimSun";
   cursor: pointer;
   text-decoration: underline;
   outline: none;
}

#content {
  	margin-top: 20px;
  	float: right;
	width: 100%;
	padding: 1%;
	padding-top: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}